.wrapper {
    padding-bottom: 30px;

    .exam {
        color: black;
        text-decoration: none;
        display: inline-block;

        &:hover {
            &,
            .exam-date,
            .exam-duration {
                text-decoration: underline;
            }
        }

        .exam-date,
        .exam-duration {
            display: inline-block;
        }

        .exam-duration {
            margin-left: 10px;
        }
    }

    .file-browser-header {
        display: flex;
        font-size: 1.5em;
        justify-content: space-between;
        align-items: flex-end;

        .level-links {
            .root-level {
                cursor: pointer;
            }

            .root-level,
            .previous-level,
            .current-level,
            .level-divider {
                font-size: 0.6em;
                display: inline-block;
                margin: 0 2px;
            }

            .level-divider {
                color: #7a7a7a;
            }

            .previous-level {
                text-decoration: none;
                color: #464646;

                &:hover {
                    text-decoration: underline;
                }
            }

            .current-level {
                cursor: default;
                color: black;
            }
        }

        i {
            cursor: pointer;
        }
    }
}
