<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<div *ngIf="errorMessage" class="banner-alert alert alert-danger fade show w-100 text-center">
    {{ errorMessage }}
</div>
<div class="container wrapper" *ngIf="showContent">
    <h3 class="mt-5">
        {{ studentExamService.studentExam.firstName }} {{ studentExamService.studentExam.lastName }},
        {{ studentExamService.studentExam.index }}
    </h3>
    <a [routerLink]="'/exams/holding/' + studentExamService.studentExam.examId + '/students'" class="exam">
        <h5 class="mt-2">
            {{ exam.subjectName }}
        </h5>
        <div class="exam-date">
            {{ exam.startTime | date: DISPLAY_DATE_FORMAT }}
        </div>
        <div class="exam-duration">
            {{ exam.startTime | date: DISPLAY_TIME_FORMAT }} - {{ exam.endTime | date: DISPLAY_TIME_FORMAT }}
        </div>
    </a>
    <div class="file-browser-header mt-4 mb-2">
        <div>
            <div class="level-links" *ngIf="!isRoot()">
                <a [routerLink]="getRootUri()" class="root-level previous-level" title="Root directory">..</a>
                <ng-container *ngFor="let fileTreeLevelUri of getFileTreeLevelsUri(); let last = last">
                    <span class="level-divider">/</span>
                    <a [routerLink]="fileTreeLevelUri" *ngIf="!last else noLink" class="previous-level">
                        {{ getLastUriSegment(fileTreeLevelUri) }}
                    </a>
                    <ng-template #noLink>
                        <span class="current-level">
                            {{ getLastUriSegment(fileTreeLevelUri) }}
                        </span>
                    </ng-template>
                </ng-container>
            </div>
        </div>
        <i class="fas fa-download" title="Download exam file" (click)="downloadExam()"></i>
    </div>
    <router-outlet></router-outlet>
</div>