.wrapper {
    padding-bottom: 30px;

    .exam-date,
    .exam-duration {
        display: inline-block;
    }

    .exam-duration {
        margin-left: 10px;
    }

    .file-tree-item {
        cursor: pointer;

        .file-name,
        .file-icon {
            display: inline-block;
        }

        .file-name {
            margin-left: 10px;
        }

        i {
            font-size: 1.2em;
        }
    }
}
