<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/assets/images/pmf.png" class="logo">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a *appHasRole="Role.STUDENT" routerLink="/exams/taking" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: false}" class="nav-item nav-link">Active exams</a>
                <a *appHasRole="Role.PROFESSOR" routerLink="/exams/holding" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: false}" class="nav-item nav-link active">Holding exams</a>
            </div>
            <div class="navbar-nav ms-auto" *ngIf="userService.isAuthenticated()">
                <div class="nav-item nav-link btn">
                    <div class="d-inline-block user-dropdown" ngbDropdown #userDropDown="ngbDropdown">
                        <div class="dropdown-anchor" ngbDropdownAnchor (click)="userDropDown.toggle()">
                            <i class="fas fa-user user-icon"></i>
                            <span class="user">{{ getFirstName() }} {{ getLastName() }}</span>
                        </div>
                        <div ngbDropdownMenu class="dropdown-items">
                            <div ngbDropdownItem (click)="logout()">
                                <i class="fas fa-sign-out-alt dropdown-icon"></i>
                                <span class="dropdown-text">
                                    Logout
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>