.wrapper {
    padding-bottom: 30px;

    .exam {
        color: black;
        text-decoration: none;

        .exam-date,
        .exam-duration {
            display: inline-block;
        }

        .exam-duration {
            margin-left: 10px;
        }
    }

    .exam:hover {
        &,
        .exam-date,
        .exam-duration {
            text-decoration: underline;
        }
    }

    .download {
        display: flex;
        font-size: 1.5em;
        flex-direction: column;
        align-items: flex-end;

        i {
            cursor: pointer;
        }
    }
}
