.similarity {
    max-width: 516px;

    .similarity-check {
        padding: 24px;

        .similarity-check-button {
            align-items: center;
            display: flex;

            .similarity-check-spinner {
                position: relative;
                display: inline-block;
                margin-left: 10px;
                height: 31px;
                width: 30px;
            }
        }
    }

    .results-availability {
        font-size: 12px;
    }
}