<div class="wrapper">
    <div class="exams" *ngIf="exams.length > 0 else noExams">
        <a *ngFor="let exam of exams" [routerLink]="getExamUri(exam)">
            <div class="card mb-3">
                <div class="content">
                    <div class="description">
                        <div class="name mb-2">
                            <b>{{ exam.subjectName }}</b>
                        </div>
                        <div class="mb-1">
                            {{ exam.startTime | date: DISPLAY_DATE_FORMAT }}
                        </div>
                        <div class="duration">
                            {{ exam.startTime | date: DISPLAY_TIME_FORMAT }}
                            -
                            {{ exam.endTime | date: DISPLAY_TIME_FORMAT }}
                        </div>
                    </div>
                    <div class="options" *ngIf="role === Role.PROFESSOR">
                        <a [routerLink]="'/exams/holding/' + exam.id + '/update'" title="Update exam">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <ng-template #noExams>
        <div class="no-content">
            There are no exams
        </div>
    </ng-template>
</div>