<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<div class="wrapper container" *ngIf="showContent">
    <div class="header mt-5 mb-4">
        <h3>
            {{ getTitle() }}
        </h3>
        <a routerLink="/exams/holding/add" class="btn btn-primary btn-sm add-exam" title="Add exam"
            *ngIf="role === Role.PROFESSOR">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <ng-container *ngIf="exams.length > 0 else noExams">
        <div class="exams mb-5">
            <a *ngFor="let exam of exams" [routerLink]="getExamUri(exam)">
                <div class="card mb-3">
                    <div class="content">
                        <div class="description">
                            <div class="name mb-2">
                                <b>{{ exam.subjectName }}</b>
                            </div>
                            <div class="mb-1">
                                {{ exam.startTime | date: DISPLAY_DATE_FORMAT }}
                            </div>
                            <div class="duration">
                                {{ exam.startTime | date: DISPLAY_TIME_FORMAT }}
                                -
                                {{ exam.endTime | date: DISPLAY_TIME_FORMAT }}
                            </div>
                        </div>
                        <div class="options" *ngIf="role === Role.PROFESSOR">
                            <a [routerLink]="'/exams/holding/' + exam.id + '/update'" title="Update exam">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <ngb-pagination [pageSize]="page.pageSize" [(page)]="page.currentPage" [collectionSize]="page.totalCount"
            [maxSize]=5 (pageChange)="pageChange()" size='sm'>
        </ngb-pagination>
    </ng-container>
    <ng-template #noExams>
        <div class="no-content">
            There are no exams
        </div>
    </ng-template>
</div>