<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<app-error-page *ngIf="showErrorPage"></app-error-page>
<div class="mt-2 wrapper" *ngIf="showContent">
    <div class="list-group file-tree">
        <a [routerLink]="getParentDirectoryUri()" class="list-group-item list-group-item-action file-tree-item"
            *ngIf="!isRoot()">
            ..
        </a>
        <a [routerLink]="getFileUri(file)" *ngFor="let file of fileTree"
            class="list-group-item list-group-item-action file-tree-item">
            <div class="file-info">
                <div>
                    <div class="file-icon">
                        <i [ngClass]="{'far fa-file' : !file.isDirectory, 'fas fa-folder': file.isDirectory}"></i>
                    </div>
                    <div class="file-name">
                        {{ file.name }}
                    </div>
                </div>
                <div *ngIf="!file.isDirectory">
                    {{ getFormattedFileSize(file.size) }}
                </div>
            </div>
        </a>
    </div>
</div>