/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/global.scss';

* {
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 15px;
    background-color: #f7f7f7;
}

body,
html {
    margin: 0;
    height: 100%;
}