.wrapper {
    height: 100%;
    min-height: 500px;
    
    .card {
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
        position: relative;
        padding: 1.5em;
        width: 350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner-alert {
    position: absolute;
}