.wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .add-exam {
            width: 5em;
            color: white;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .content {
        border-radius: 5px;
        background-color: white;
        padding: 15px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            font-size: 1.1rem;
        }

        .duration {
            font-size: 0.75rem;
        }

        .options {
            font-size: 1.3em;
        }
    }
}
