<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<div class="wrapper container" *ngIf="showContent">
    <h3 class="mt-5 mb-4">Exams</h3>
    <div class="no-content" *ngIf="exams.length === 0 else showList">There are no exams</div>
    <ng-template #showList>
        <a *ngFor="let exam of exams" [routerLink]="getExamUri(exam)">
            <div class="card mb-3">
                <div class="content">
                    <div class="description">
                        <div class="name mb-2">
                            <b>{{ exam.subjectName }}</b>
                        </div>
                        <div class="mb-1">
                            {{ exam.startTime | date: DISPLAY_DATE_FORMAT }}
                        </div>
                        <div class="duration">
                            <div>
                                {{ exam.startTime | date: DISPLAY_TIME_FORMAT }}
                                -
                                {{ exam.endTime | date: DISPLAY_TIME_FORMAT }}
                            </div>
                        </div>
                    </div>
                    <div class="options" *ngIf="role === Role.PROFESSOR">
                        <a [routerLink]="'/exams/' + exam.id + '/update'" title="Update exam">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </ng-template>
</div>