<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<div *ngIf="errorMessage" class="banner-alert alert alert-danger fade show w-100 text-center">
    {{ errorMessage }}
</div>
<div class="container wrapper" *ngIf="showContent">
    <div class="row mt-5">
        <div class="col">
            <h4>{{ exam.subjectName }}</h4>
            <div class="date">
                {{ exam.startTime | date: DISPLAY_DATE_FORMAT }}
            </div>
            <div class="duration">
                {{ exam.startTime | date: DISPLAY_TIME_FORMAT }} - {{ exam.endTime | date: DISPLAY_TIME_FORMAT }}
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <div *ngIf="examStudents.length > 0 else noStudents">
                <h6>Students:</h6>
                <div class="list-group">
                    <a *ngFor="let examStudent of examStudents"
                        [routerLink]="'/exams/holding/' + examStudent.examId + '/students/' + examStudent.studentId + '/tree'"
                        class="list-group-item list-group-item-action">
                        <div class="student">
                            <div class="name">
                                {{ examStudent.firstName }} {{ examStudent.lastName }}, {{ examStudent.index }}
                            </div>
                            <div class="submit-time" [title]="examStudent.uploadTime | date: DISPLAY_DATE_FORMAT">
                                {{ examStudent.uploadTime | date: DISPLAY_TIME_FORMAT }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <ng-template #noStudents>
                <div class="no-content">
                    No students have submitted work for this exam
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row mt-4" *ngIf="examStudents.length > 1">
        <div class="col">
            <form #form>
                <div class="extensions mb-3">
                    <h6>File extension:</h6>
                    <select class="form-select" name="fileExtension" [(ngModel)]="mossRequest.fileExtension" required>
                        <option *ngFor="let fileExtension of FILE_EXTENSIONS" [ngValue]="fileExtension">
                            .{{ fileExtension }}
                        </option>
                    </select>
                    <div class="invalid-feedback">File extension must be provided</div>
                </div>
                <div class="similarity-check-button">
                    <button class="btn btn-primary btn-sm" [disabled]="showMossRunningSpinner"
                        (click)="performSimilarityCheck()">
                        Perform similarity check
                    </button>
                    <div class="similarity-check-spinner" *ngIf="showMossRunningSpinner">
                        <app-load-spinner [size]="'small'"></app-load-spinner>
                    </div>
                </div>
            </form>
            <div class="similarity-results mt-5" *ngIf="mossResults.length > 0">
                <h6>Similarity results
                    <small class="results-availability">
                        (Available for 14 days)
                    </small>
                    :
                </h6>
                <div class="list-group">
                    <div *ngFor="let mossResult of mossResults" class="content list-group-item">
                        <a [href]="mossResult.url" target="_blank">
                            {{ mossResult.url }}
                        </a>
                        <div class="submit-time">
                            <span>
                                {{ mossResult.submitted | date: DISPLAY_DATE_TIME_FORMAT }}
                            </span>
                            <i class="fas fa-trash-alt" (click)="deleteSimilarityResult(mossResult.id)" title="Delete result"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>