@import "../../../../../assets/styles/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    align-items: center;
    height: 50px;
}

code {
    padding-left: $line-numbers-paddding;
    padding-right: $line-numbers-paddding;
}
