<app-load-spinner *ngIf="showSpinner"></app-load-spinner>
<div *ngIf="errorMessage" class="banner-alert alert alert-danger fade show w-100 text-center">
    {{ errorMessage }}
</div>
<div class="file-viewer wrapper card" *ngIf="showContent">
    <div class="header p-2">
        <div class="name">
            {{ file.name }}
        </div>
        <div class="size">
            {{ getFormattedFileSize(file.size) }}
        </div>
    </div>
    <pre class="m-0"><code class="py-0" [appHighlight]="{lineNumbers: true}">{{ file.content }}</code></pre>
</div>