.wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .add-exam {
            width: 5em;
            color: white;
        }
    }
}
